.rate_container {
  /*评分容器*/
  font-size: 16px;
  box-sizing: border-box;
  width: 20em;
  height: 2.4em;
  padding: 0.2em 1em;
  border-radius: 1.2em;
  border: 1px solid #eaeefb;
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  text-align: center;
}
.rate_container .rate {
  /*评分项*/
  width: 2em;
  cursor: pointer;
}
.rate_container .rate i {
  font-size: 1.8em;
}
.rate_container .comment {
  /*评语*/
  height: 2em;
  width: 8em;
  font-size: 1em;
}
